@import url('https://fonts.googleapis.com/css?family=Prata|Voltaire');

$primary-color: #9D0000;
$primary-color-lighten: rgba(157, 0, 0, 0.600);
$secondary-color: #EFECDE; 
$font: 'Prata', serif;
$secondary-font: 'Voltaire', sans-serif;
